:root {
  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 3%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right,
    hsl(45, 100%, 72%),
    hsl(35, 100%, 68%)
  );

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black1: hsl(240, 2%, 13%);
  --eerie-black2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white1: hsl(0, 0%, 100%);
  --white2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  --ff-poppins: "Poppins", sans-serif;

  --fs1: 24px;
  --fs2: 18px;
  --fs3: 17px;
  --fs4: 16px;
  --fs5: 15px;
  --fs6: 14px;
  --fs7: 13px;
  --fs8: 12px;

  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;

  --shadow1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow2: 0px 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow3: 0px 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow4: 0px 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow5: 0px 24px 80px hsla(0, 0%, 0%, 0.25);

  --transition1: 0.25s ease;
  --transition2: 0.5s ease-in-out;

  --br: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus {
  outline-color: var(--orange-yellow-crayola);
}

html {
  font-family: var(--ff-poppins);
}

body {
  background: var(--smoky-black);
}

.sidebar,
article {
  border: 1px solid var(--jet);
  padding: 15px;
  border-radius: var(--br);
  overflow: hidden;
  background: var(--eerie-black2);
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow1);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black1);
    border-radius: inherit;
    z-index: -1;
  }

  ion-icon {
    --ionicon-stroke-width: 35px;
  }
}

.image-box {
  background: var(--bg-gradient-onyx);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
    min-width: 100%;
  }
}

article {
  display: none;
  &.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2,
h3,
h4,
h5 {
  color: var(--white2);
  text-transform: capitalize;
}

.h2 {
  font-size: var(--fs1);
}
.h3 {
  font-size: var(--fs2);
}
.h4 {
  font-size: var(--fs4);
}
.h5 {
  font-size: var(--fs7);
  font-weight: var(--fw500);
}

.article-title {
  padding-bottom: 7px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
  }
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 20px;
}

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  border-radius: 14px;
  box-shadow: var(--shadow2);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
  }
}

/* Start Container */

.container {
  display: flex;
  justify-content: center;
  margin: 15px 12px 75px;
  flex-direction: column;
  min-width: 259px;

  /* Start Sidebar */

  aside.sidebar {
    position: relative;
    margin-bottom: 15px;
    max-height: 112px;
    transition: var(--transition2);
    &.active {
      max-height: 405px;
    }

    button.show-contacts {
      position: absolute;
      top: 0;
      right: 0;
      background: var(--border-gradient-onyx);
      padding: 10px;
      border-end-start-radius: 15px;
      color: var(--orange-yellow-crayola);
      font-size: 13px;
      box-shadow: var(--shadow2);
      overflow: hidden;
      &:focus,
      &:hover {
        background: var(--bg-gradient-yellow1);
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--bg-gradient-jet);
        inset: 1px;
      }
      &:hover::before,
      &:focus::before {
        background: var(--bg-gradient-yellow2);
      }

      span {
        display: none;
      }
    }

    .main-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;

      figure.personal-image {
        width: 80px;
        height: 80px;
        border-radius: var(--br);

        img {
          min-width: 80px;
        }
      }

      .info {
        h1 {
          font-size: var(--fs3);
          font-weight: 500;
          color: var(--white2);
          letter-spacing: -0.25px;
        }

        p.job-title {
          margin-top: 10px;
          padding: 3px 12px;
          background: var(--onyx);
          font-size: var(--fs8);
          border-radius: 8px;
          color: var(--white1);
          width: max-content;
        }
      }
    }

    .sidebar-info-more {
      opacity: 0;
      visibility: hidden;
      transition: var(--transition2);
      &.active {
        opacity: 1;
        visibility: visible;
      }

      .contacts-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        border-top: 1px solid var(--jet);
        border-bottom: 1px solid var(--jet);
        padding: 15px 0;

        .contact-item {
          display: flex;
          align-items: center;
          gap: 16px;

          .contact-info {
            p.title {
              font-size: var(--fs8);
              color: var(--light-gray70);
              text-transform: uppercase;
              margin-bottom: 2px;
            }

            .info {
              color: var(--white2);
              font-size: var(--fs7);
            }
            address {
              font-style: normal;
            }
          }
        }
      }

      ul.social-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        margin: 15px 0 0 15px;

        li {
          a {
            color: var(--light-gray70);
            font-size: 18px;
            &:hover {
              color: var(--light-gray);
            }
          }
        }
      }
    }
  }

  /* End Sidebar */

  /* Start Main */

  main {
    /* Start Navbar */

    .navbar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: hsla(240, 1%, 17%, 0.75);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid var(--jet);
      border-radius: 12px 12px 0 0;
      box-shadow: var(--shadow2);
      z-index: 5;

      .navbar-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 10px;

        li {
          button {
            color: var(--light-gray);
            transition: color var(--transition1);
            padding: 20px 7px;
            font-size: var(--fs8);
            &:hover,
            &:focus {
              color: var(--light-gray70);
            }
            &.active {
              color: var(--orange-yellow-crayola);
              &:hover,
              &:focus {
                color: var(--orange-yellow-crayola);
              }
            }
          }
        }
      }
    }

    /* End Navbar */

    /* START ABOUT ARICLE */

    article.about {
      header h2 {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      /* Start About Info Section */

      section.about-info {
        padding: 0px 10px;
        color: var(--light-gray);
        font-size: var(--fs6);
        font-weight: var(--fw300);
        line-height: 1.6;

        p {
          margin-bottom: 15px;
          text-align: justify;
        }
      }

      /* Start Service Section */

      section.service {
        margin-bottom: 35px;

        h3 {
          margin-bottom: 20px;
        }

        ul.service-list {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;

          li {
            text-align: center;

            img {
              margin: 0 auto 10px;
            }

            .service-card-info {
              h4 {
                margin-bottom: 7px;
              }

              p {
                color: var(--light-gray);
                font-size: var(--fs6);
                font-weight: var(--fw300);
                line-height: 1.6;
              }
            }
          }
        }
      }

      /* Start Testimonials Section */

      section.testimonials {
        margin-bottom: 35px;

        h3 {
          margin-bottom: 20px;
        }

        ul.testimonials-list {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 25px 15px 35px;
          margin: 0 -15px;
          gap: 15px;
          overflow-x: auto;
          overscroll-behavior-inline: contain;
          scroll-snap-type: inline mandatory;

          li {
            padding-top: 45px;
            min-width: 100%;
            scroll-snap-align: center;
            cursor: pointer;

            figure {
              position: absolute;
              top: 0;
              left: 0;
              width: 60px;
              height: 60px;
              border-radius: 14px;
              transform: translate(15px, -25px);
            }

            p {
              color: var(--light-gray);
              font-size: var(--fs6);
              font-weight: var(--fw300);
              line-height: 1.6;
              display: -webkit-box;
              line-clamp: 4;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }

        .testimonials-card {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 99999;
          opacity: 0;
          visibility: hidden;
          transition: var(--transition1);
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: none;
          &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: all;

            .testimonial-show-card {
              transform: scale(1);
            }
          }

          .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: hsl(0, 0%, 5%);
            opacity: 0.8;
            z-index: 1;
          }

          .testimonial-show-card {
            border: 1px solid var(--jet);
            padding: 15px;
            margin: 0 12px;
            border-radius: var(--br);
            overflow: hidden;
            background: var(--eerie-black2);
            transform: scale(1.2);
            transition: var(--transition1);
            z-index: 2;

            .exit-button {
              position: absolute;
              top: 15px;
              right: 15px;
              background: var(--onyx);
              border-radius: 8px;
              width: 32px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--white2);
              font-size: 18px;
              opacity: 0.7;
              cursor: pointer;
              &:hover {
                opacity: 1;
              }

              ion-icon {
                --ionicon-stroke-width: 50px;
              }
            }

            .images {
              figure {
                width: 80px;
                height: 80px;
                border-radius: var(--br);
                margin-bottom: 15px;

                img {
                  min-width: 100%;
                }
              }

              > img {
                display: none;
              }
            }

            h4 {
              margin-bottom: 5px;
            }

            time {
              font-size: var(--fs6);
              color: var(--light-gray70);
              font-weight: var(--fw500);
              margin-bottom: 10px;
            }

            p {
              color: var(--light-gray);
              font-size: var(--fs6);
              font-weight: var(--fw300);
              line-height: 1.6;
            }
          }
        }
      }

      /* Start Clients Section */

      section.clients {
        margin-bottom: 15px;

        ul.clients-list {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 15px;
          margin: 0 -15px;
          padding: 25px;
          overflow-x: auto;
          scroll-behavior: smooth;
          overscroll-behavior-inline: contain;
          scroll-snap-type: inline mandatory;
          scroll-padding-inline: 25px;

          li {
            min-width: calc(100% / 2);
            scroll-snap-align: start;

            a {
              img {
                width: 100%;
                filter: grayscale(1);
                transition: var(--transition1);
                &:hover {
                  filter: grayscale(0);
                }
              }
            }
          }
        }
      }
    }

    /* END ABOUT ARTICLE */

    /* START RESUME ARTICLE */

    article.resume {
      header h2 {
        margin-bottom: 30px;
      }

      section.education,
      section.experience {
        margin-bottom: 30px;

        .education-title,
        .experience-title {
          display: flex;
          gap: 15px;
          align-items: center;
          margin-bottom: 25px;
          .icon-box {
            ion-icon {
            }
          }
          h3 {
          }
        }
        ol.education-list,
        ol.experience-list {
          margin-left: 45px;
          font-size: var(--fs6);

          li.education-item,
          li.experience-item {
            margin-bottom: 20px;
            position: relative;
            &:not(:last-child)::before {
              content: "";
              position: absolute;
              top: -25px;
              left: -30px;
              width: 1px;
              height: calc(100% + 50px);
              background: var(--jet);
            }
            &::after {
              content: "";
              position: absolute;
              top: 5px;
              left: -33px;
              height: 6px;
              width: 6px;
              border-radius: 50%;
              background: var(--text-gradient-yellow);
              box-shadow: 0 0 0 4px var(--jet);
            }

            h4 {
              margin-bottom: 7px;
              position: relative;
            }

            time {
              color: var(--vegas-gold);
              font-weight: var(--fw400);
              line-height: 1.6;
            }

            p {
              color: var(--light-gray);
              font-weight: var(--fw300);
              line-height: 1.6;
              text-align: justify;
            }
          }
        }
      }
      section.skills {
        h3 {
          margin-bottom: 20px;
        }
        ul.skills-container {
          padding: 20px;

          li.skill {
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 15px;
            }

            .title-wrapper {
              display: flex;
              align-items: center;
              gap: 5px;
              margin-bottom: 8px;

              h5.skill-title {
                font-size: var(--fs7);
                font-weight: var(--fw500);
              }
              data {
                color: var(--light-gray);
                font-size: var(--fs7);
                font-weight: var(--fw300);
              }
            }
            .progress-bar {
              background: var(--jet);
              width: 100%;
              height: 8px;
              border-radius: 10px;

              .progress {
                background: var(--text-gradient-yellow);
                height: 100%;
                border-radius: inherit;
              }
            }
          }
        }
      }
    }

    /* END RESUME ARTICLE */

    /* START PORTFOLIO ARTICLE */

    article.portfolio {
      header h2 {
        margin-bottom: 30px;
      }
      section.portfolio-projects {
        ul.filter-list {
          display: none;
        }

        .filter-select-box {
          position: relative;
          margin-bottom: 25px;

          button.filter-button {
            background: var(--eerie-black2);
            color: var(--light-gray);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 12px 16px;
            border: 1px solid var(--jet);
            border-radius: 14px;
            font-size: var(--fs6);
            font-weight: var(--fw300);
            .chevron-icons {
              ion-icon[name="chevron-up"] {
                display: none;
                &.active {
                  display: block;
                }
              }
              ion-icon[name="chevron-up"].active
                + ion-icon[name="chevron-down"] {
                display: none;
              }
            }
          }
          ul.options {
            background: var(--eerie-black2);
            position: absolute;
            top: calc(100% + 6px);
            width: 100%;
            padding: 6px;
            border: 1px solid var(--jet);
            border-radius: 14px;
            z-index: 2;
            visibility: hidden;
            pointer-events: none;
            transition: 0.5s ease-in-out;
            li {
              button {
                background: var(--eerie-black2);
                color: var(--light-gray);
                font-size: var(--fs6);
                font-weight: var(--fw300);
                text-transform: capitalize;
                width: 100%;
                padding: 8px 10px;
                border-radius: 8px;
                &:hover {
                  --eerie-black2: hsl(240, 2%, 20%);
                }
              }
            }
          }
          button.filter-button.active + ul.options {
            visibility: visible;
            pointer-events: all;
          }
        }
        ul.projects {
          display: grid;
          grid-template-columns: 1fr;
          gap: 30px;
          margin-bottom: 10px;

          li.project {
            animation: projectScale 0.25s ease forwards;
            &.hide {
              display: none;
            }

            a {
              figure.project-image-box {
                position: relative;
                width: 100%;
                height: 200px;
                border-radius: 16px;
                overflow: hidden;
                margin-bottom: 15px;
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: transparent;
                  z-index: 1;
                  transition: var(--transition1);
                }

                img {
                  max-width: 100%;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  transition: var(--transition1);
                }
                .show-icon-box {
                  --scale: 0.8;
                  background: var(--jet);
                  color: var(--orange-yellow-crayola);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(var(--scale));
                  font-size: 20px;
                  padding: 18px;
                  border-radius: 12px;
                  opacity: 0;
                  z-index: 1;
                  transition: var(--transition1);

                  ion-icon {
                    --ionicon-stroke-width: 50px;
                  }
                  &::before {
                    content: "";
                  }
                }
              }
              .info {
                h4 {
                  color: var(--white2);
                  font-size: var(--fs5);
                  font-weight: var(--fw400);
                  text-transform: capitalize;
                  line-height: 1.3;
                  margin-left: 10px;
                }
                p {
                  color: var(--light-gray70);
                  font-size: var(--fs6);
                  font-weight: var(--fw300);
                  margin-left: 10px;
                }
              }

              &:hover figure.project-image-box {
                &::before {
                  background: hsla(0, 0%, 0%, 0.5);
                }

                img {
                  transform: scale(1.1);
                }

                .show-icon-box {
                  --scale: 1;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    /* END PORTFOLIO ARTICLE */

    /* START BLOG ARTICLE */

    article.blog {
      header h2 {
        margin-bottom: 30px;
      }
      section.blog-posts {
        margin-bottom: 10px;
        ul.blog-posts-list {
          display: grid;
          grid-template-columns: 1fr;
          gap: 30px;
          li.blog-post-item {
            a {
              &:hover .info h4 {
                color: var(--orange-yellow-crayola);
              }

              figure {
                height: 200px;
                border-radius: 12px;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .info {
                padding: 15px;
                .category-and-time {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 20px;
                  color: var(--light-gray70);
                  font-size: var(--fs6);
                  font-weight: var(--fw300);
                  margin-bottom: 10px;

                  .category {
                    position: relative;
                    &::after {
                      content: "";
                      position: absolute;
                      top: 50%;
                      right: 12px;
                      transform: translateY(-50%);
                      width: 4px;
                      height: 4px;
                      border-radius: 50%;
                      background: var(--light-gray70);
                    }
                  }
                }
                h4 {
                  margin-bottom: 10px;
                  line-height: 1.3;
                  transition: var(--transition1);
                }
                p {
                  color: var(--light-gray);
                  font-size: var(--fs6);
                  font-weight: var(--fw300);
                  line-height: 1.6;
                  text-align: justify;
                }
              }
            }
          }
        }
      }
    }

    /* END BLOG ARTICLE */

    /* START CONTACT ARTICLE */

    article.contact {
      header h2 {
        margin-bottom: 30px;
      }
      section.location {
        margin-bottom: 30px;

        figure {
          position: relative;
          height: 250px;
          width: 100%;
          border-radius: 16px;
          border: 1px solid var(--jet);
          overflow: hidden;

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
      section.contact-form {
        margin-bottom: 10px;

        h3 {
          margin-bottom: 20px;
        }
        form {
          input,
          textarea {
            color: var(--white2);
            font-size: var(--fs6);
            font-weight: var(--fw400);
            padding: 13px 20px;
            border: 1px solid var(--jet);
            border-radius: 14px;
            outline: none;
            &:focus:invalid {
              border-color: var(--bittersweet-shimmer);
            }
            &:focus {
              border-color: var(--orange-yellow-crayola);
            }

            &::placeholder {
              font-weight: var(--fw500);
            }
          }
          .main-info {
            display: grid;
            grid-template-columns: 1fr;
            gap: 25px;
            margin-bottom: 25px;

            input[type="text"] {
            }
            input[type="email"] {
            }
          }
          textarea {
            margin-bottom: 25px;
            min-height: 100px;
            height: 120px;
            max-height: 200px;
            resize: vertical;
            &::-webkit-realizer {
              display: none;
            }
          }
          button {
            position: relative;
            width: 100%;
            background: var(--border-gradient-onyx);
            color: var(--orange-yellow-crayola);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 13px 20px;
            border-radius: 14px;
            font-size: var(--fs6);
            text-transform: capitalize;
            box-shadow: var(--shadow3);
            z-index: 1;
            transition: var(--transition1);
            &:hover {
              background: var(--bg-gradient-yellow1);
            }
            &:disabled {
              opacity: 0.7;
              cursor: not-allowed;
            }
            &:disabled:hover {
              background: var(--border-gradient-onyx);
            }

            &::before {
              content: "";
              position: absolute;
              inset: 1px;
              border-radius: inherit;
              z-index: -1;
              transition: var(--transition1);
              background: var(--bg-gradient-yellow2);
            }
            &:disabled:hover::before {
              background: var(--bg-gradient-jet);
            }

            ion-icon {
              font-size: 16px;
            }
            span {
            }
          }
        }
      }
    }

    /* END CONTACT ARTICLE */
  }

  /* End Main */
}

@keyframes projectScale {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* End Container */

/*START MEDIA QUERIES*/

@media (min-width: 450px) {
  .container main {
    article.about section.clients ul.clients-list li {
      min-width: calc((100% - 30px) / 3);
    }
    article.portfolio
      section.portfolio-projects
      ul.projects
      li.project
      a
      figure.project-image-box {
      height: auto;
    }
    article.blog
      section.blog-posts
      ul.blog-posts-list
      li.blog-post-item
      a
      figure {
      height: auto;
    }
  }
}

@media (min-width: 580px) {
  :root {
    --fs1: 32px;
    --fs2: 24px;
    --fs3: 26px;
    --fs4: 18px;
    --fs6: 15px;
    --fs7: 15px;
    --fs8: 12px;
  }

  article,
  .sidebar {
    padding: 30px;
  }

  main,
  .sidebar {
    width: 520px;
    margin-inline: auto;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  .article-title {
    font-weight: var(--fw600);
    padding-bottom: 15px;

    &::after {
      width: 40px;
      height: 5px;
    }
  }

  .content-card {
    padding: 30px;
  }

  .container {
    margin: 60px 12px 100px;

    aside.sidebar {
      max-height: 180px;
      margin-bottom: 30px;
      &.active {
        max-height: 584px;
      }

      button.show-contacts {
        padding: 10px 15px;
        span {
          display: block;
          font-size: var(--fs8);
          position: relative;
        }

        ion-icon {
          display: none;
        }
      }

      .main-info {
        margin-bottom: 32px;
        gap: 25px;

        figure.personal-image {
          width: 120px;
          height: 120px;
          border-radius: 30px;
        }

        .info {
          p.job-title {
            margin-top: 15px;
          }
        }
      }
      .sidebar-info-more {
        .contacts-list {
          padding: 32px 0;
          gap: 20px;
        }
        ul.social-links {
          margin: 32px 0 0 5px;
        }
      }
    }

    main {
      .navbar {
        border-radius: 20px 20px 0 0;

        .navbar-list {
          gap: 20px;

          li {
            button {
              --fs8: 14px;
            }
          }
        }
      }

      article.about {
        .article-title {
          margin: 15px 0 20px;
        }

        section.about-info {
          margin-bottom: 40px;
        }

        section.service {
          ul.service-list {
            li {
              text-align: left;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 18px;

              img {
                margin: 5px 0 0;
              }
            }
          }
        }

        section.testimonials {
          h3 {
            margin-bottom: 25px;
          }

          ul.testimonials-list {
            gap: 30px;
            margin: 0 -30px;
            padding: 30px;
            padding-bottom: 35px;

            li {
              padding: 30px;
              padding-top: 25px;

              figure {
                transform: translate(30px, -30px);
                border-radius: 28px;
                width: 80px;
                height: 80px;
              }

              h4 {
                margin-bottom: 10px;
                margin-left: 95px;
              }

              p {
                line-clamp: 2;
                -webkit-line-clamp: 2;
              }
            }
          }

          .testimonials-card {
            padding: 20px;

            .testimonial-show-card {
              display: flex;
              gap: 25px;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 30px;
              .images {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;
                figure {
                  width: 65px;
                  height: 65px;
                }
                & > img {
                  display: block;
                }
              }
            }
          }
        }

        section.clients {
          ul.clients-list {
            margin: 0 -30px;
            padding: 45px;
            scroll-padding-inline: 45px;
          }
        }
      }

      article.resume {
        section.education,
        section.experience {
          ol.education-list,
          ol.experience-list {
            margin-left: 65px;

            li.education-item,
            li.experience-item {
              &:not(:last-child)::before {
                left: -40px;
              }
              &::after {
                height: 8px;
                width: 8px;
                left: -43px;
              }
            }
          }
        }

        section.skills {
          ul.skills-container {
            padding: 30px;
            padding-top: 25px;
            li.skill:not(:last-child) {
              margin-bottom: 25px;
            }
          }
        }
      }

      article.blog
        section.blog-posts
        ul.blog-posts-list
        li.blog-post-item
        a
        .info {
        padding: 25px;
      }

      article.contact {
        section.location {
          figure {
            height: 380px;
            border-radius: 18px;
          }
        }
        section.contact-form {
          form {
            input,
            textarea {
              padding: 15px 20px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main,
  .sidebar {
    width: 700px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 100px;
  }

  .container {
    aside.sidebar {
      .sidebar-info-more {
        .contacts-list {
          grid-template-columns: 1fr 1fr;
          gap: 30px 15px;
        }
      }
    }

    main {
      .navbar {
        .navbar-list {
          li {
            button {
              --fs8: 15px;
            }
          }
        }
      }

      article.about {
        .article-title {
          padding-bottom: 20px;
        }
        section.testimonials {
          .testimonials-card {
            .testimonial-show-card {
              margin: 0 20px;
              gap: 40px;

              .images {
                gap: 20px;

                figure {
                  width: 80px;
                  height: 80px;
                }
              }
            }
          }
        }
      }

      article.portfolio {
        section.portfolio-projects {
          ul.filter-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 25px;
            padding-left: 5px;
            margin-bottom: 30px;

            li button {
              color: var(--light-gray);
              font-size: var(--fs5);
              transition: var(--transition1);
              &:hover {
                color: var(--light-gray70);
              }
              &.active {
                color: var(--orange-yellow-crayola);
              }
            }
          }
          .filter-select-box {
            display: none;
          }

          ul.projects {
            grid-template-columns: 1fr 1fr;
          }
        }
      }

      article.blog section.blog-posts ul.blog-posts-list {
        grid-template-columns: 1fr 1fr;
        li a figure {
          border-radius: 16px;
        }
      }

      article.contact {
        section.contact-form {
          form {
            .main-info {
              grid-template-columns: 1fr 1fr;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  :root {
    --shadow1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow2: 0px 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow3: 0px 16px 40px hsla(0, 0%, 0%, 0.125);
  }

  .sidebar,
  article {
    box-shadow: var(--shadow5);
  }

  main,
  .sidebar {
    width: 950px;
  }

  .container {
    margin-bottom: 60px;

    main {
      position: relative;

      .navbar {
        position: absolute;
        width: max-content;
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        border-radius: 0 20px;
        padding: 0 20px;
        box-shadow: none;
        .navbar-list {
          gap: 30px;
          padding: 0 20px;

          li {
            font-weight: var(--fw500);
          }
        }
      }

      article.about {
        section.service {
          ul.service-list {
            grid-template-columns: 1fr 1fr;
          }
        }
        section.testimonials {
          ul.testimonials-list {
            li {
              min-width: calc(50% - 15px);
            }
          }
          .testimonials-card {
            .testimonial-show-card {
              max-width: 680px;
            }
          }
        }
        section.clients {
          ul.clients-list {
            gap: 25px;
            li {
              min-width: calc((100% - 30px) / 4);
            }
          }
        }
      }

      article.portfolio section.portfolio-projects ul.projects {
        grid-template-columns: 1fr 1fr 1fr;
      }

      article.blog
        section.blog-posts
        ul.blog-posts-list
        li.blog-post-item
        a
        figure {
        height: 230px;
      }
    }
  }
}

@media (min-width: 1250px) {
  body::-webkit-scrollbar {
    width: 20px;
  }
  body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }
  body::-webkit-scrollbar-button {
    height: 60px;
  }

  .container {
    gap: 25px;
    flex-direction: row;
    max-width: 1200px;
    margin-inline: auto;

    aside.sidebar {
      padding: 60px 30px 30px;
      max-height: max-content;
      margin: 0;
      height: 100%;
      position: sticky;
      top: 60px;
      z-index: 1;

      button.show-contacts {
        display: none;
      }

      .main-info {
        flex-direction: column;

        figure.personal-image {
          width: 150px;
          height: 150px;
          img {
          }
        }
      }
      .sidebar-info-more {
        opacity: 1;
        visibility: visible;

        .contacts-list {
          grid-template-columns: 1fr;

          .contact-item {
            .contact-info {
              .info {
                --fs7: 14px;
              }
              a.info {
                font-size: 12px;
              }
            }
          }
        }

        ul.social-links {
          justify-content: center;
          margin: 30px 0 0 0;
        }
      }
    }

    main {
      min-width: 75%;
      width: 75%;

      article.resume {
        li.education-item,
        li.experience-item {
          p {
            max-width: 700px;
          }
        }
      }
    }
  }
}

/*END MEDIA QUERIES*/
